.personal-info {
    margin-bottom: 3rem;
}

.sm-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.social-media {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    width: 10rem;
}

.info-left {
    font-family: 'Montserrat', sans-serif;
    font-size: 4rem;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #fff;
    transition: all 0.2s ease-in-out;
    align-items: baseline;
}

.info-right {
    font-family: 'Open Sans', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding-top: 1rem;
    background: #fff;
    transition: all 0.2s ease-in-out;
    align-items: baseline;
    text-align: left;
    hyphens: auto;
}